## PfDA Assignment 

***

Simulate data of a phenomenon:

e.g. ACL injuries in women's professional football
    injuries in women's football

- at least 100 data points required
- 4 variables:
    e.g. age, trianing hours in week, kms covered in week, occupation (if not professional), previous injury, menstrual cycle

Use a Jupyter notebook - use images, links, code etc

Research likely relationships between variables, their distributions and relationships/ correlation with each other

Simulate data by devising an algorithm


***

## Introduction

The phenomenon I have chosen to investigate in this project is the epidemic of Anterior Cruciate Ligament (ACL) injuries in athletes, in particular in female sport.

The ACL is one of the main stabilizing ligaments in the knee. It connects the thigh bone (femur) to the shin bone (tibia). It is responsible for stabilising the knee as well as controlling any abnormal motion during twisting, turning and pivoting actions.

![ACL](https://my.clevelandclinic.org/-/scassets/images/org/health/articles/16576-acl-tear)

An ACL rupture is a serious injury that most often requires surgery to repair. Recovery time from an ACL rupture is typically in the range of 7-12 months from injury to return to play.

As ACL injury most often occurs through twisting, pivoting and changing directons, injury is most common in athletes who compete in sports that involve these actions - in particular, soccer, basketball, etc. Here in Ireland, ACL injuries are also very common in GAA athletes.

ACL injuries are also particulary prevalent in females, with females 4-8 times more likely that males to suffer an ACL injury.

Through some research (and my own personal experience as someone who has suffered the dreaded ruptured ACL!), I have found that the following variables have a close relationship with ACL injury:

- sex
- age
- mode of injury (in training/competition)
- stage in menstrual cycle (female only)
- previous injury
- hours of training per week


***

## Discussion on Variables

### Sex

- 4-8 times more likely for females than males
- #https://pubmed.ncbi.nlm.nih.gov/9784805/

- I decided to focus this project on females only, so there will be no sex variable in the dataset

### Age

- 15-19 to 30-34 - consistent for males then starts to drop off
- 15-19 extremely high in females then drops but stays consistent to 35-39 then starts to drop
- https://stillmed.olympics.com/media/Documents/Athletes/Medical-Scientific/Consensus-Statements/2008_non-contact-ACL-injuries-female-athletes.pdf

- after 30 athletes begin to retire


- Age Bracket Data: (ratios)
Female:
10-14 = 1
15-19 = 8.5
20-24 = 3
25-29 = 3
30-34 = 3
35-39 = 3
40-44 = 2
Greater than 45 = 1.5

Male:
10-14 = 0
15-19 = 3.5
20-24 = 3.5
25-29 = 3.5
30-34 = 3.5
35-39 = 3
40-44 = 2
Greater than 45 = 1


### Hours of Training per Week
- Training hours greater than 10 hours per week - 7.5:1 than those less than 10 hours
- #https://bjsm.bmj.com/content/51/4/392.3

### Previous Injury
- Prior injury to ACL is heavily linked to re-injury of the ligament - 6:1 more likely to injure ACL then someone who has not injured it previously
- #https://journals.sagepub.com/doi/10.1177/0363546514530088

### Menstrual Cycle Stage

- Follicular (Day 1-9) approx 37%
- Ovulatory (Day 10 - 14) approx 26%
- Luteal (Day 15-28) approx 37%
- https://www.ncbi.nlm.nih.gov/pmc/articles/PMC164356/#:~:text=We%20found%20that%2026%20of,onset%20of%20menses%20(Figure%20%E2%80%8B

### Mode of Injury

- Higher in competition than in training/practice - approx 7:1 
- https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3867093/


***

## Dataset Synthesis

To create data based on the research above, I will use numpy random number generator. The data will be synthesises based on a normal distribution.
a dataset with 200 rows will be created. It will represent data for 200 athletes who have suffered ACL injuries. The variables in the data set will be:
- Sex
- Age
- Mode of Injury
- Training Hours per week
- Menstrual Cycle Stage (Female only)

In [1]:
#Importing of Packages

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import random

In [2]:
# Sex Variable data
# I took a value of 5:1 females to males as per research, erring on the side of caution

'''rng = np.random.default_rng()
sex_choice = ["Male", "Female"]
sex = rng.choice(sex_choice, p =[0.17, 0.83], size=200)

sex
'''

# I am removing sex and focusing the project on ACL injuries in female athletes

'rng = np.random.default_rng()\nsex_choice = ["Male", "Female"]\nsex = rng.choice(sex_choice, p =[0.17, 0.83], size=200)\n\nsex\n'

In [3]:
# Age Variable data
# I took a value of 5:1 females to males as per research, erring on the side of caution

'''Age Bracket Data: (ratios)
10-14 = 1
15-19 = 8.5
20-24 = 3
25-29 = 3
30-34 = 3
35-39 = 3
40-44 = 2
>45 = 1.5'''

# probability =[0.04 = 8, 0.34 = 68, 0.12 = 24, 0.12 = 24, 0.12 = 24, 0.12 =24, 0.08 = 16, 0.06 = 12], size=200)

rng = np.random.default_rng()
import random
from random import randrange
age = []
for _ in range(8):
    age.append(random.randint(10, 14))
for _ in range(68):
    age.append(random.randint(15, 19))
for _ in range(24):
    age.append(random.randint(20, 24))
for _ in range(24):
    age.append(random.randint(25, 29))
for _ in range(24):
    age.append(random.randint(30, 34))
for _ in range(24):
    age.append(random.randint(35, 39))
for _ in range(16):
    age.append(random.randint(40, 44))
for _ in range(12):
    age.append(random.randint(45, 49))

random.shuffle(age)

age

[31,
 24,
 26,
 27,
 36,
 46,
 20,
 27,
 39,
 20,
 16,
 20,
 15,
 19,
 15,
 21,
 37,
 12,
 25,
 17,
 21,
 35,
 40,
 16,
 26,
 19,
 17,
 15,
 33,
 23,
 18,
 19,
 26,
 23,
 49,
 18,
 34,
 21,
 18,
 16,
 26,
 18,
 12,
 25,
 15,
 15,
 17,
 32,
 28,
 26,
 23,
 38,
 19,
 38,
 40,
 32,
 20,
 33,
 20,
 18,
 31,
 40,
 28,
 38,
 15,
 14,
 34,
 29,
 38,
 45,
 20,
 39,
 16,
 18,
 18,
 49,
 32,
 26,
 35,
 16,
 28,
 19,
 23,
 28,
 49,
 18,
 46,
 42,
 27,
 17,
 18,
 33,
 37,
 17,
 27,
 10,
 32,
 43,
 31,
 39,
 32,
 38,
 43,
 40,
 34,
 15,
 19,
 35,
 22,
 25,
 16,
 19,
 18,
 42,
 22,
 33,
 19,
 38,
 46,
 48,
 22,
 34,
 15,
 16,
 15,
 45,
 19,
 36,
 17,
 41,
 26,
 17,
 41,
 49,
 44,
 19,
 25,
 17,
 24,
 21,
 36,
 16,
 31,
 19,
 22,
 19,
 49,
 21,
 19,
 19,
 19,
 19,
 32,
 16,
 31,
 34,
 22,
 35,
 18,
 17,
 29,
 17,
 24,
 40,
 31,
 40,
 36,
 29,
 10,
 12,
 20,
 17,
 17,
 41,
 15,
 31,
 19,
 18,
 15,
 15,
 41,
 18,
 35,
 17,
 37,
 46,
 17,
 12,
 43,
 31,
 39,
 35,
 28,
 27,
 31,
 35,
 17,
 19,
 19,
 11]

In [4]:
# Training Hours Variable data
# I took a value of 7:1 for 10 training hours or greater: less than 10 training hours as per research
# Therefore probability of training hours being < 10 = 0.12 (or 0.24 for 200 values)
# and probability of training hours being >= 10 = 0.88 (or 1.76 for 200 values)
# I randomly shuffle the list to make it more realistic

rng = np.random.default_rng()
import random
from random import randrange
training_hours = []
for _ in range(24):
    training_hours.append(random.randint(3, 9))
for _ in range(176):
    training_hours.append(random.randint(10, 18))

random.shuffle(training_hours)

training_hours

# https://blog.finxter.com/create-a-list-of-random-numbers-the-most-pythonic-way/
# https://www.w3schools.com/python/ref_random_shuffle.asp#:~:text=The%20shuffle()%20method%20takes,not%20return%20a%20new%20list.    - for random.shuffle

[12,
 13,
 15,
 16,
 12,
 16,
 17,
 11,
 14,
 15,
 18,
 5,
 12,
 12,
 15,
 11,
 16,
 18,
 16,
 15,
 15,
 17,
 6,
 11,
 15,
 18,
 13,
 15,
 14,
 11,
 15,
 12,
 12,
 6,
 4,
 15,
 14,
 11,
 13,
 18,
 15,
 17,
 16,
 17,
 13,
 11,
 11,
 4,
 13,
 3,
 12,
 5,
 12,
 14,
 10,
 18,
 12,
 10,
 16,
 10,
 18,
 12,
 13,
 18,
 15,
 8,
 15,
 13,
 17,
 8,
 18,
 17,
 13,
 10,
 13,
 15,
 10,
 7,
 17,
 18,
 14,
 17,
 15,
 15,
 12,
 7,
 13,
 18,
 18,
 10,
 16,
 11,
 11,
 17,
 13,
 18,
 17,
 13,
 17,
 13,
 15,
 16,
 14,
 10,
 16,
 16,
 4,
 11,
 10,
 13,
 14,
 15,
 13,
 10,
 18,
 17,
 11,
 5,
 10,
 13,
 8,
 14,
 18,
 9,
 13,
 10,
 15,
 3,
 16,
 7,
 14,
 18,
 16,
 5,
 17,
 14,
 16,
 16,
 11,
 4,
 7,
 14,
 12,
 16,
 11,
 15,
 8,
 3,
 11,
 12,
 10,
 13,
 11,
 16,
 17,
 17,
 14,
 15,
 18,
 11,
 12,
 18,
 15,
 13,
 13,
 17,
 16,
 16,
 13,
 16,
 11,
 17,
 10,
 10,
 17,
 8,
 11,
 13,
 13,
 7,
 17,
 13,
 12,
 17,
 12,
 18,
 12,
 13,
 11,
 13,
 16,
 17,
 13,
 15,
 12,
 11,
 17,
 13,
 15,
 17]

In [5]:
# Mode of Injury Variable data
# I took a value of 7.5:1 as per research

rng = np.random.default_rng()
modeofinjury_choice = ["Competition", "Training"]
modeofinjury = rng.choice(modeofinjury_choice, p =[0.875, 0.125], size=200)

In [6]:
# Menstrual Cycle Variable data
# From research, there are three main stages: 
'''Follicular (Day 1-9) approx 37%
Ovulatory (Day 10 - 14) approx 26%
Luteal (Day 15-28) approx 37%'''

rng = np.random.default_rng()
menstrualcycle_choice = ["Follicular (Day 1-9)", "Ovulatory (Day 10-14)", "Luteal (Day 15-28)"]
menstrualcycle = rng.choice(menstrualcycle_choice, p =[0.37, 0.26, 0.37], size=200)

In [8]:
data = {"Age": age,
        "Training Hours Per Week": training_hours,
        "Mode of Injury": modeofinjury,
        "Menstral Cycle Stage": menstrualcycle}
df = pd.DataFrame(data)

df

     Age  Training Hours Per Week Mode of Injury   Menstral Cycle Stage
0     31                       12    Competition   Follicular (Day 1-9)
1     24                       13    Competition  Ovulatory (Day 10-14)
2     26                       15    Competition   Follicular (Day 1-9)
3     27                       16    Competition     Luteal (Day 15-28)
4     36                       12    Competition   Follicular (Day 1-9)
..   ...                      ...            ...                    ...
195   35                       11    Competition     Luteal (Day 15-28)
196   17                       17    Competition   Follicular (Day 1-9)
197   19                       13    Competition   Follicular (Day 1-9)
198   19                       15    Competition     Luteal (Day 15-28)
199   11                       17    Competition   Follicular (Day 1-9)

[200 rows x 4 columns]